[submodule "mywayland"]
	path = mywayland
	url = https://github.com/sdsddsd1/mywayland.git
[submodule "kiss-games"]
	path = kiss-games
	url = https://github.com/sdsddsd1/kiss-games.git
[submodule "community"]
	path = community
	url = https://github.com/kisslinux/community.git
[submodule "kiss-dbus"]
	path = kiss-dbus
	url = https://github.com/periish/kiss-dbus
[submodule "kiss-llvm"]
	path = kiss-llvm
	url = https://github.com/konimex/kiss-llvm
[submodule "kiss-zfs"]
	path = kiss-zfs
	url = https://github.com/jedavies-dev/kiss-zfs
